<h3>Server Name</h3>
<input class="form-control" type="text" (input)="onInput($event)" />
<input class="form-control" type="text" [(ngModel)]="serverName" />
<p>{{ serverName }}</p>
<button
  class="btn btn-primary"
  [disabled]="!enableServer"
  (click)="onBtnClick()"
>
  Add Server
</button>
<p [innerText]="enableServer"></p>
<!-- <p>{{ serverCreationSentence }}</p> -->
<p *ngIf="isServerCreated; else noServer">{{ serverCreationSentence }}</p>
<ng-template #noServer>
  <p>No server right now.</p>
</ng-template>
<app-server *ngFor="let server of servers"></app-server>
<app-practice-data-binding></app-practice-data-binding>
<app-practice-built-in-directive></app-practice-built-in-directive>
